b{
	font-size: 30px;
}
p{
	color: red;
	font-size: 23px;
	font-weight: bold;
}
.button_chitietsanpham{
	
	height: 50px;
	width: 300px;
	background: #181C03;
	outline: none;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 100px;
	color: white;
}